@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Quicksand:wght@300;500&display=swap");
/*FONTS*/
/*COLORS*/
p {
  padding: 0;
  margin: 0;
  color: #294255;
}

body {
  background-color: #f8f6f1;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  max-width: 600px;
  margin: auto;
  padding: .5em;
}

h1 {
  font-family: "Cabin Sketch", cursive;
  font-size: 3em;
  text-align: center;
  color: #294255;
  margin-top: 1em;
}

h2 {
  font-weight: 500;
  color: #ca6c74;
}

h4 {
  color: #294255;
}

.name {
  font-family: "Cabin Sketch", cursive;
  text-align: center;
  font-size: 2em;
  color: #294255;
}

.finish {
  font-size: 2.5em;
  color: rgba(41, 66, 85, 0.15);
  text-align: center;
}

.fix-it {
  margin-top: -30px;
}

.navigation {
  position: absolute;
  top: 0px;
  left: 0px;
}

.menu {
  position: relative;
  margin: 2em 0 0 1em;
  z-index: 2;
}

.menu::before, .menu::after {
  height: 2px;
  width: 2em;
  background: #ca6c74;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.menu::after {
  content: '';
  position: absolute;
  top: 6px;
}

.menu::before {
  content: '';
  position: absolute;
  bottom: 4px;
}

.middle {
  position: absolute;
  height: 2px;
  width: 2em;
  background: #ca6c74;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

#menu:hover {
  cursor: pointer;
}

#menu:hover .middle, #menu:hover::before, #menu:hover::after {
  background: #ca6c74;
}

.open::before {
  -webkit-transform: rotateZ(45deg) translateY(8.5px);
          transform: rotateZ(45deg) translateY(8.5px);
  background: #f8f6f1;
}

.open::after {
  -webkit-transform: rotateZ(-45deg) translateY(-8.5px);
          transform: rotateZ(-45deg) translateY(-8.5px);
  background: #f8f6f1;
}

.open .middle {
  opacity: 0;
}

.menu-content {
  position: absolute;
  width: 200px;
  background: #294255;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  padding: 3em;
  margin-top: -35px;
  text-align: center;
  line-height: 4em;
  font-size: 1em;
  list-style-type: none;
  border-radius: 0 0 10px 0;
}

.menu-content li a {
  text-decoration: none;
}

.menu-content li a:link, .menu-content li a:active, .menu-content li a:visited {
  color: #f8f6f1;
}

.menu-content li a:hover {
  color: #ca6c74;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.menu-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.position {
  background: rgba(41, 66, 85, 0.15);
  border-radius: 10px;
  padding: 1em;
  font-size: 1.1em;
}

.quote {
  border-radius: 10px;
  padding: 1em 0;
  color: #294255;
  margin-bottom: 1em;
}

.quote:nth-child(even) {
  background: rgba(202, 108, 116, 0.15);
  padding: 1em;
}

.quote p {
  margin-bottom: .5em;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #294255;
}

/* visited link */
a:visited {
  color: #294255;
}

/* mouse over link */
a:hover {
  color: #ca6c74;
}

/* selected link */
a:active {
  color: #76282c;
}

@media only screen and (max-width: 700px) {
  body {
    max-width: 500px;
    padding: 2em;
  }
}
/*# sourceMappingURL=rel.css.map */