@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

$darkBlue: #024659;
$lightBlue: #049DB5;
$white: #f8f7f2;
$pink: #d62246;
$font1: 'Comfortaa',
cursive;
$bold: 700;

* {
    box-sizing: border-box;
}

body {
    padding: 1em;
    margin: 0;
    background: $white;
    color: $white;
    font-family: $font1;
}

#line {
    display: block;
    width: 50%;
    height: 100%;
    margin: auto;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
}

#details {
    text-align: left;
    position: relative;

    button {
        padding: .5em;
        font-size: 1em;
        margin-top: 1em;
    }
}

.start {
    padding: 1em;
    font-size: 2em;
    display: block;
    margin: auto;
    border: none;
    background: $lightBlue;
    color: $white;
    font-family: $font1;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}

input {
    display: block;
    border-radius: 10px;
    border: none;
    width: 89%;
    background: $darkBlue;
    padding: .7em;
    color: $white;
    border: 5px solid $lightBlue;
    font-size: 2em;
    font-family: $font1;

    &:focus {
        outline: none;
    }
}

div {
    color: $darkBlue;
}

#options button {
    display: block;
    padding: .5em;
    margin: 2em auto;
    font-size: 1.3em;
    width: 300px;
    border: 3px solid $darkBlue;
    background: $white;
    transition: 250ms transform ease;

    &:hover {
        transform: scale(.92);
    }
}

span,
button {
    color: $pink;
    font-weight: $bold;
    text-transform: uppercase;

}

button {
    background-color: $white;
    border: 2px solid $darkBlue;
    border-radius: 5px;
    transition: 250ms transform ease;

    &:hover {
        transform: scale(.92);
    }
}

label {
    color: $darkBlue;
    text-transform: uppercase;
}

p {
    font-family: $font1;
    color: $darkBlue;
    line-height: 1.4em;
    max-width: 600px;
    margin: auto;
}

.closed {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    background: $pink;
    width: 20%;
    height: 100%;
    transition: 300ms ease;
}

#menuButton {
    font-size: 2em;
    position: absolute;
    right: 0;
    top: 0;
    color: $darkBlue;
    z-index: 1;
    cursor: pointer;
}

.moveOver {
    color: $white;
}

.open {
    display: block;
    color: $white;

    ul li {
        list-style: none;
        padding: 1em 0;
        border-bottom: .5px solid $white;
        cursor: pointer;
        transition: 200ms ease;

        &:hover {
            color: $darkBlue;
        }
    }
}

.progress {
    margin: auto;
    width: 45%;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: $darkBlue;
    margin-top: 2em;
}

.fill {
    width: 50%;
    height: 100%;
    background: $lightBlue;
}